<footer id="footer" class="footer-section">
    <div class="footer-content">
        <p> &ensp;&ensp;&ensp;&ensp;&ensp;</p>
        <img src="https://breadsbangalore.org/wp-content/themes/Breads_/images/logo-wide.png" alt="" max-width="400"
            max-height="70">
        <!-- <h1>BREADS BANGALORE</h1> -->
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, placeat consectetur? Quas quo possimus
            eius.</p> -->
        <div class="socials">
            <a href="https://www.facebook.com/breadsbangalore.org/" class="fa fa-facebook"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
            <a href="https://www.youtube.com/channel/UC5mMJjSpsrdIMEInAk7dfHw" class="fa fa-youtube"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
            <a href="https://twitter.com/donboscobreads" class="fa fa-twitter"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
            <a href="https://in.linkedin.com/in/breads-bangalore-a45543aa" class="fa fa-linkedin"
                style="font-size:36px;color:#620d0d ;margin-left:10px"></a>
        </div>
    </div>
</footer>