<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        Database Details
    </h1>

    <form id="logoutForm" action="/admin" method="POST">
        <input type="submit" id="okbtn" class="btn btn-light ok" value="Logout" class="btn" />
    </form>

    <div id="alertt" class="hidden">
        <h1 id="h1_alert">Alert! Reset Password</h1>
        <form id="form" action="/reset" method="POST">
            <div class="mb-3">

                <label for="exampleInputPassword1" class="form-label">Enter new Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <input type="submit" id="okbtn" class="btn btn-light ok" value="OK" class="btn" />
            <!-- <input type="submit" class="btn btn-success" id="submitBtn" value="Submit"> -->
        </form>

    </div>

    <a href="report">Reports Page</button>
</body>

</html>